[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Tt]emp/

# Never ignore Asset meta data
!/[Aa]ssets/**/*.meta

.vs/

*.unityproj
*.csproj
*.suo
*.sln
*.user

*.pidb.meta
*.pdb.meta
*.mdb.meta

vsTeamSettings.DotSettings
androidBuild.log
windowsBuild.log
iOSBuild.log
versionBuild.log
Assets/UnityVS/
Assets/UnityVS.meta
Builds/
